TextField {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-background-color: #EFF7CF;
    -fx-padding: 10;
    -fx-border-color: #000E3B;
    -fx-border-width: 1;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}


TextField .text {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.5em;
}

.scroll-pane .viewport {

    -fx-background-color: #000E3B;

}